<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354619599966-6t925lvo3r9bcs4sa5mrrf2jd117oj0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354619599966-6t925lvo3r9bcs4sa5mrrf2jd117oj0j</string>
	<key>API_KEY</key>
	<string>AIzaSyBRSLE5dXeIDOY228Zs3_OyEpQDf82MdJY</string>
	<key>GCM_SENDER_ID</key>
	<string>354619599966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Najd.NuzhaProj</string>
	<key>PROJECT_ID</key>
	<string>nuzhah-ae46d</string>
	<key>STORAGE_BUCKET</key>
	<string>nuzhah-ae46d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354619599966:ios:7c0e0982d3cfa307</string>
	<key>DATABASE_URL</key>
	<string>https://nuzhah-ae46d.firebaseio.com</string>
</dict>
</plist>